<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLDVRESORTConnectionString"
            connectionString="Data Source=DESKTOP-DA92CAH\SQLEXPRESS01;Initial Catalog=QLDVRESORT;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLDVRESORTConnectionString1"
            connectionString="Data Source=LAPTOP-ED5PBNKM;Initial Catalog=QLDVRESORT;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLDVRESORTConnectionString2"
            connectionString="Data Source=LAPTOP-ED5PBNKM;Initial Catalog=QLDVRESORT;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLDVRESORTConnectionString3"
            connectionString="Data Source=DESKTOP-DA92CAH\SQLEXPRESS01;Initial Catalog=QLDVRESORT;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLDVRESORTConnectionString4"
            connectionString="Data Source=THANHTHIEN-1702\SQLEXPRESS01;Initial Catalog=QLDVRESORT;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>